.frame{
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    display: grid;
    grid-template-areas: 
    "question btn"
    " resp resp";
    grid-template-columns: 550px 40px;
    grid-template-rows: 85px ;
    gap: 10px;
    align-items: center;
}

.frame.show{
    grid-template-rows: 60px 50px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 
                0 3px 6px rgba(0, 0, 0, 0.1);
}

.question{
    grid-area: question;
    margin: 5px 20px;
}

.question h3{
    margin: 0 45px 0 0;
}
.btn{
    grid-area: btn;
}

.reponse{
    display: none;
    margin: 5px 20px;
}

.reponse.show{
    display: block;
    grid-area: resp;
    margin: 5px 20px;
}