*{
    box-sizing: border-box;
    height: 100vh;
}

*body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

.slide_containt{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.left_slide{
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: red;
}

.rigth_slide{
    position: absolute;
    overflow: hidden;
    left: 30%;
    width: 70%;
    height: 100%;
    background-image: url(/images/imagesTest.PNG) ;
}

.left_slide h1 {
    position: absolute;
    left: 25%;
    top: calc(100vh/2.5);
    font-size: 50px;
    color: white;
    margin: 0px;
}

.left_slide p {
    position: absolute;
    left: 40%;
    top: calc(100vh/2.05);
    font-size: 25px ;
    color: white;
    margin: 0px;
}

.bouton{
    background-color: #fff;
    color: #aaa;
    font-size: 16px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.bouton button{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 60px;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
}

#bouton_up{

}

#bouton_down{
    transform: translate(-60px, 60px) rotate(180deg);
    
}