*{
    box-sizing: border-box;
    height: 100vh;
}

*body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

.slide_containt{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.left_slide{
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 30%;
    height: 100%;
    position: absolute;
    background-color: red;
}

.rigth_slide{
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1508768787810-6adc1f613514?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=e27f6661df21ed17ab5355b28af8df4e&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80');
}

.left_slide h1 {
    position: absolute;
    left: 25%;
    top: calc(100vh/2.5);
    font-size: 50px;
    color: white;
    margin: 0px;
}

.left_slide p {
    position: absolute;
    left: 40%;
    top: calc(100vh/2.05);
    font-size: 25px ;
    color: white;
    margin: 0px;
}

.bouton{
    background-color: #fff;
    color: #aaa;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.bouton button{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 60px;
    height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-left: 5px;
    opacity: 0.9;
}

#bouton_down:hover{
    opacity: 1.5;
      
}
#bouton_up:hover{
    opacity: 1.5;
}

#bouton_up{
    padding-top: 10px;
    padding-left: 5px;
}

#bouton_down{
    transform: translate(-60px, 60px) rotate(180deg);
    
}