*{
    box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.containt {
  transform-origin: top left;
  width: 100 vw;
  padding: 80px 50px;
  margin: 0px;
  transition: transform 1s;
  background-color: #fafafa;
}


.content{
  transform-origin: top left;
  margin: 50px 0px;
}
.containt h1{
  margin: 0px;
}
img{
  max-width: 100%;
}
small {
  font-style: italic;
}


.containt_circle{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0% 0% 100% 0% ;
  background-color: #ff7979;
  height: 150px;
  width: 150px;
  top: 0px;
  left: 0px;
}
.containt_circle button{
  display: inline-block;
  border: none;
  width: 55px;
  height: 55px;
  background-color: #ff7979;
  padding: 0px;
}


.navClass {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 30px 30px 30px 100px 1px;
  grid-template-rows: repeat(3, 20px);
  width: 150;
  height: 20;
  color: white;
  margin: 20px 20px;
  padding: 10px 0px;
  row-gap: 35px;
}

.icon1{
  grid-column: 1/4;
  grid-row: 1/2;
}
.icon2{
  grid-column: 2/4;
  grid-row: 2/3;
}
.icon3{
  grid-column: 3/4;
  grid-row: 3/4;
}
.navClass .text_nav1 {
  text-transform: uppercase;
  font-size: 20px;
  grid-column: 2/5;
  grid-row: 1/2;
}
.navClass .text_nav2 {
  text-transform: uppercase;
  font-size: 20px;
  grid-column: 3/5;
  grid-row: 2/3;
}
.navClass .text_nav3 {
  text-transform: uppercase;
  font-size: 20px;
  grid-column: 4/5;
  grid-row: 3/3;
}
