@import url('https://fonts.googleapis.com/css?family=Montserrat');

.containt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #476ce4;
    border-radius: 10px;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}

.grid-text{
    display: grid;
    grid-template-columns: 35px 2fr 35px;
    grid-template-rows: 10px 1fr;
    justify-items: center;
    margin: 15px 10px 15px 10px;
}

.icon-left{
    grid-row: 2;
    grid-column: 1/2;
    margin-right: 10px;
    opacity: 0.3;
}

.icon-right{
    grid-row: 2;
    grid-column: 3;
    margin-left: 10px;
    opacity: 0.3;
}

.containt p{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 16px;
    color: #fff;
    text-align: justify;
    margin: 0px;
}

.progress-bar{
    grid-row: 1/2;
    grid-column: 2/3;
    height: 6px;
    background-color: #fff;
    width: 100%;
    margin: 5px 0px 5px 0px;
    transform-origin: left;
    animation: grow 10s linear infinite;
}

.containt-profil{
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 20px 55px;
    row-gap : 10px;
    column-gap: 10px;
    grid-template-areas: 
        "photos names"
        "photos position";
}

.containt-profil img{
    grid-area: photos;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.containt-profil h4{
    grid-area: names;
    font-size: 16px;
    margin: 0px;
}

.containt-profil p{
    grid-area: position;
    font-size: 16px ;
    text-align: left;
}

@keyframes grow {
    0% {
      transform: scaleX(0);
    }
  }