*{
    box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.containt {
  transform-origin: top left;
  width: 100 vw;
  padding: 120px;
  margin: 0px;
  transition: transform 1s;
  background-color: #fafafa;
}


.content{
  transform-origin: top left;
  margin: 50px 0px;
}
.containt h1{
  margin: 0px;
}
img{
  max-width: 100%;
}
small {
    font-style: italic;
}


.containt_circle{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0% 0% 100% 0% ;
  background-color: red;
  height: 150px;
  width: 150px;
  top: 0px;
  left: 0px;
}
.containt_circle button{
  display: inline-block;
  border: none;
  width: 55px;
  height: 55px;
  background-color: red;
  padding: 0px;
}


.navClass {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 35px 110px;
  grid-template-rows: repeat(3, 20px);
  width: 150;
  height: 20;
  color: white;
  margin: 20px 20px;
  padding: 10px 0px;
  row-gap: 35px;
  column-gap: 2px;
}

.navClass .text_nav {
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
