* {
    box-sizing: border-box;
  }

  body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'lato', sans-serif;
    margin: 0px;
  }

.containt_circle button{
  display: inline-block;
  border: none;
  width: 55px;
  height: 55px;
  background-color: red;
  padding: 0px;
}

.containt_circle{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0% 0% 100% 0% ;
  background-color: red;
  height: 100px;
  width: 100px;
  top: 0px;
  left: 0px;
}

.containt {
    transform-origin: top left;
    width: 100 vw;
    padding: 90px;
    margin: 0px;
    transition: transform 1s;
}

.content{
  transform-origin: top left;
  margin: 50px 0px;
  max-width: 1000px;
}

.containt h1{
  margin: 0px;
}

img{
  max-width: 100%;
}

.navClass-nav + nav li{
  transform: translateX(0);
  transition-delay: 0.5s;
}
.navClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
  position: fixed;
  bottom: 15px ;
  left: 15;
}
.navClass li{
  list-style-type: none;
}

