* {
    box-sizing: border-box;
  }

  body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'lato', sans-serif;
    margin: 0px;
  }

  .containt {
    transform-origin: top left;
    width: 100 vw;
    padding: 50px;
    transition: transform 1s;
    top: -10px;
    left: 0px;
  }

.content{
  transform-origin: top left;
  margin: 50px 0px;
  max-width: 1000px;
}

.containt h1{
  margin: 0px;
}

img{
  max-width: 100%;
}

.containt_circle{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 60px solid red;
  border-radius: 0% 0% 100% 0% ;
  top: -1px;
  left: -1px;

}

.navClass-nav + nav li{
  transform: translateX(0);
  transition-delay: 0.5s;
}
.navClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 20px;
  position: fixed;
  bottom: 15px ;
  left: 15;
}
.navClass li{
  list-style-type: none;
}

