.nav-containt{
    display: grid;
    grid-template-columns: 500px 1fr ;
    grid-template-rows: 90px;
    grid-template-areas: 
    "nav search";
}

nav {
  background-color: #fff;
  margin-top: 12px;
  margin-left: 15px;
  padding: 20px;
  width: 60px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
}

nav.active {
  width: 280px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}

  

.nav-containt form{
    direction: rtl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
}
.search{
    border: 3px solid #22254b;
    border-radius: 30px;
    height: 50px;
    width: 250px;
    background-color: #373b69;
    color: #fff;
    font-size: 20px;
    direction: ltr;
    padding: 0px 15px;
}