body{
    background-color:blueviolet;
    margin: 100px;
}

/* Il faut utiliser le model de grille*/
.conteneur{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* meme espace entre les box */
    /*align-items: center;    Centrer tous les elments*/
    flex-wrap: wrap;  /*retour automatique a la ligne */
    gap: 15px;  /*espace entre les element du conteneur */
    width: 150px;
    height: 400px;
    padding-left: 50px;
    /*background-color: aqua;*/
}


/*
.conteneur{
    display: grid;
    grid-template-columns: 1fr 1f;
    grid-template-rows: auto;
    gap: 10px;
    background-color: aqua;
    align-items: center; 
}*/

/* les elments du flex
  order: 1;
  flex : 1 taille
*/
.conteneur.check{
    display: grid;
    grid-template-columns: 1fr 1f;
    justify-content: space-around;
}