*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.containt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ctn-btn{
    display: grid;
    grid-template-columns: 40px 40px 1fr;
    grid-template-rows: 40px 40px 40px;
    gap: 10px;
    grid-template-areas: 
    "box box label"
    "box1 box1 label1"
    "box2 box2 label2";
    justify-content: center;
    align-items: center;
}

.btn1{
    width: 80px;
    height: 40px;
    background-color:  #D0D0D0;
    grid-area: box;
    border-radius: 20px 20px;
}

.btn2{
    width: 80px;
    height: 40px;
    background-color: #D0D0D0;
    grid-area: box1;
    border-radius: 20px 20px;
}

.btn3{
    width: 80px;
    height: 40px;
    background-color: #D0D0D0;
    grid-area: box2;
    border-radius: 20px 20px;
}

.text1{
    grid-area: label;
}

.text2{
    grid-area: label1;
}

.text3{
    grid-area: label2;
}

.circle1{
    width: 35px;
    height: 35px;
    grid-area: box;
    background-color: #fff !important;
    border-radius: 50%;
    margin: 5px;
}

.circle2{
    width: 35px;
    height: 35px;
    grid-area: box1;
    background-color: #fff !important;
    border-radius: 50%;
    margin: 5px;
}

.circle3{
    width: 35px;
    height: 35px;
    grid-area: box2;
    background-color: #fff !important;
    border-radius: 50%;
    margin: 5px;
}