*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.containt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ctn-btn{
    display: grid;
    grid-template-columns: 26px 40px 1fr;
    grid-template-rows: 40px 40px 40px;
    gap: 10px;
    grid-template-areas: 
    "box00 box01 label"
    "box10 box11 label1"
    "box20 box21 label2";
    justify-content: center;
    align-items: center;
}

.btn{
    width: 80px;
    height: 40px;
    background-color:  #D0D0D0;
    border-radius: 20px 20px;
}
#btn1{
    grid-area: box00;
}

#btn2{
    grid-area: box10;
}

#btn3{
    grid-area: box20;
}

.text1{
    grid-area: label;
}

.text2{
    grid-area: label1;
}

.text3{
    grid-area: label2;
}

.circle{
    width: 35px;
    height: 35px;
    background-color: #fff !important;
    border-radius: 50%;
    margin: 5px;
}

#circle1{
    grid-area: box00;
}

#circle2{
    grid-area: box10;
}

#circle3{
    grid-area: box20;
}